body {
  margin: 0;
  background-color: #eee;
  font-family: "arial";
}
.main h1 {
  color: #444;
  text-align: center;
}
.main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form {
  background: #fff;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 400px;
}
